---
export interface CardProps {
	title: string;
	description: string;
	icon: string;
	right?: string;
	position?: string;
}

const { title, description, icon, position } = Astro.props as CardProps;
let right;
if (position) {
	right = 'md:text-end';
}

import { Icon } from 'astro-icon/components';
---

<article class=`pt-5  flex flex-col md:w-[75%]  justify-center ${position} `>
	<!-- Title and Icon -->
	<div class='flex items-center'>
		<h2 class='uppercase pe-2 font-bold'>
			{title}
		</h2>
		<Icon name={`${icon}`} class='text-xl' />
	</div>

	<!-- Description -->
	<p class=`border-t-2 ${right} `>
		{description}
	</p>
</article>
