---
export interface CardProps {
	title: string;
	description: string;
	icon: string;
	right?: string;
	position?: string;
}

const { title, description, icon, right, position } = Astro.props as CardProps;
let isRight = '';
let boxRight = '';
if (right) {
	isRight = 'justify-end ';
	boxRight = 'flex flex-col items-end';
}
import { Icon } from 'astro-icon/components';
---

<article class=`pt-5 w-full flex flex-col items-end justify-center ${position}`>
	<div class=`md:${right} md:${boxRight}`>
		<!-- Title and Icon -->
		<div class=`flex items-center  md:${isRight}`>
			<h2 class='uppercase pe-2 font-bold'>{title}</h2>
			<Icon name={`${icon}`} class='text-xl' />
		</div>

		<!-- Description -->
		<div class=`border-t-[1px] border-black w-[80%] md:${right} `>
			{description}
		</div>
	</div>
</article>
